$primary-color: #f5c542
$background-color: rgb(0,0,0, 0.6)
$text-shadow: 1px 1px rgb(255,255,255)

h1
  //display: inline-block
  //vertical-align: top

.formDisplay
  display: inline-block
  vertical-align: top
  margin-top: 3rem


form 
    margin: 2rem auto
    width: 80%
    min-width: 15rem
    padding: 1rem
    border: 1px solid #999
    border-radius: 5px
    //display: inline-block
    //vertical-align: top
    //margin-top: 10rem
    background: rgb(0,0,0,0.6)
    //text-shadow: $text-shadow
    

label 
    display: inline-block
    width: 80%
    padding: 1rem

input, textarea
    width: 80%
    box-sizing: border-box
    border: 1px solid #999
    min-height: 8rem
    font-size: 1.2rem
    margin: 2rem
    background-color: rgb(0,0,0, 0.6)
    color: $primary-color

button
  margin: 2rem
  color: $primary-color
  background-color: rgb(0,0,0, 0.6)
  width: 7rem
  height: 2rem

.translatedText
  background-color: $background-color
  height: 2rem
  font-size: 1.3rem

  

